# https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Don't send the following files to the docker daemon as the build context.

.git
.gitattributes
.travis.yml
README.md
docker-compose.yml

# dotenv environment variables file
.env

# nuxt.js build output
.nuxt

# Nuxt generate
dist

# Dependency directories
node_modules/